body {
    background-image: url(nat.jpg);   
    height: 100%;
    margin: 0;    
}

table, td, th{
    border: 2px solid black;
}

main {
    text-align: center;
}

input{
    margin: 0;
}

table {
    background: white;
}

.top {
    background: deepskyblue;
}

#file {
    padding: 20px;
    margin: 40px;
    border: 2px solid black;
}

a {
    padding: 10px;
    color: black;
    border: 3px solid black;
    text-decoration: none;
}

a:hover  {
    background: deepskyblue;
    text-decoration: underline;
}