body {
    text-align: center
}
main {
    margin: 5px;
}
a {
    padding: 5px;
    text-decoration: none;
    color: red;
}

a:hover {
    border: 2px solid black;
}

img:hover {
    transform: rotate3d(0, 0, 1, 360deg);
    transition: 4s;
}

footer{
    text-align: center;
}